@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


#app {
    font-family: Helvetica, sans-serif;
    font-family: "Red Hat Display", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: left; */
    color: #2c3e50;
    margin-top: 60px;
  }
  
  .post_it {
    position: relative;
    text-align: center;
  }
  
  .post-it-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .post_it_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
.introduction {
    /* text-align: left; */
    padding: 80px;
    /* font-size: 2rem; */
}

.subtitle{
    padding-top: 1em;
    font-size: 2em;

}

p {
    /* text-align:left; */
    line-height: 1.5;
}

.w-60{
    width:60%;
}

.content-section {
    text-align: left;
    padding: 80px;
}



body {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    font-size: 5em;
    min-font-size: 80px;
    /* Ensures font size does not fall below 80px */
}

h2 {
    font-size: 3.5em;
    /* min-font-size: 40px; */
    font-family: caveat;
    /* margin: 0em; */
    /* margin-top: 0.5em; */
}

h3 {
    font-size: 2.5em;
    min-font-size: 32px;
    font-family: caveat;
}


.w-30 {
    width:30%
}

    /* NAVIGATION -- OLD THO */



nav {
text-align: right;
font-family: 'Helvetica', sans-serif;
margin-bottom: 20px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
display: inline;
margin-left: 20px;
}

nav ul li:first-child {
margin-left: 0; 
}
nav ul li a {
font-weight: bold;
color: black;
text-decoration: none;
padding: 5px 10px;
}


.centered-text{
    text-align: center;
}

a{
    font-weight:bold;
    color: black;
     text-decoration: none;
    /* text-decoration-style: dotted; */
}

a:hover{
    text-decoration: none;

}

.handwritten{
    font-family: caveat;
}

.homepage-introduction{
    height:14em;
    text-align:right;
    padding-bottom: 4em;
}


/* Default styles for mobile */
.page {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  
  /* Styles for desktop viewers */
  @media screen and (min-width: 1024px) {
    .page {
      width: 800px;
      max-width: 800px;
    }
  }

.post-it-note {
    width: 15em;
}

@media screen and (max-width: 400px) {
    .post-it-note {
        width: 100%;
    }

    h2 {
        font-size: 10vw; 
    }
    h3 {
        font-size: 6vw; 
    }
}

@media screen and (max-width: 600px) {
    .about {
        padding: 40px; /* Adjust the padding to a smaller value */
    }
    .w-60{
        width:100%
    }
}

p a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

p a::before {
    content: "";
    position: absolute;
    left: -0.1em;
    right: -0.1em;
    top: 0.1em;
    bottom: 0.1em;
    background-color: rgba(255, 255, 0, 0.5); /* Semi-transparent yellow */
    transform: rotate(-1deg) skew(-1deg);
    z-index: -1;
    transition: all 0.3s ease;
}

p a:hover::before {
    transform: rotate(1deg) skew(1deg);
}
